svg {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}


h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;
	text-align: center;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}


.content {
 	margin-top: 30px;
}
.article {
	width: 1440px;
	display: inline-block;
	text-align: center;
}

.graph {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.graphholder {
	margin-top: 30px;
	
}
p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}


